* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

html::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

body {
    font-family: 'Space Grotesk', 'Archivo', sans-serif;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    font-size: 1.75rem;
    line-height: 1.4;
    letter-spacing: normal;
    min-height: 100vh;
    max-width: 100vw;
    display: flex;
}

article {
    padding: 2rem;
}

.title--full {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1, h2, h3 {
    font-weight: 700;
}

h1 {
    font-size: 3.75rem;
    text-align: center;
}

h2 {
    font-size: 3.25rem;
}

h3 {
    font-size: 2rem;
}

q {
    font-style: italic;
}

p, q {
    font-size: 1.75rem;
}

h1, h2, h3, p, q, a {
    padding: 0rem 0rem 2rem 0rem;
}

.infobox {
    margin-bottom: 2rem;
    background-color: black;
    color: white;
    padding: 2rem;
}

/*NAV*/

#progressbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 0.5rem;
    border-radius: 0 0 0.5rem 0.5rem;
    background-color: red;
    transition: height ease-in-out;  
}


#burger {
    width: 32px;
    height: 32px;
    display: grid;
    grid-template-rows: 4px 4px 4px;
    align-content: space-between;
    cursor: pointer;    
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 4;
}



#burger div {
    background-color:black;
}


nav {
    background-color: black;
    color: white;
    height: 100%;  
    width: 100%;
    padding: 2rem;

    display: grid;
    justify-items: center; 
    align-content: center;
    grid-template-rows: 0.25fr 0.75fr;
    
    
    position: absolute;
    left: -100vw;
    
    z-index: 1;
    transition: left 0.3s ease;  
}

#nav--posisjon {
    display: grid;
    align-items: center;
    justify-content: center;
}

#nav--navigasjon {
    display: grid;
    align-items: center;
    justify-content: center;
}

nav a {
    text-decoration: none;
    color: white;
}

