.title {
    display: flex;
    text-align: center;
    padding: 2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    
}

.title--full {
    width: 100%;
    height: 100vh;
}

.title--half {
    height: 50vh;
}

.illustration {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* INFOBOX */

.infobox {
    margin: 4rem 0rem;
    cursor: pointer;
    border: 2px solid black;    
    background-color:#cfff04;
    color: black;
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.1s;
}

.infobox:hover {
    transform: scale(1.01) ;
}

.infobox--header {
    text-align: center;
    text-decoration: underline;
}

.infobox--info {
    display: none;
    text-align: left;
    transition: 0.1s;
}
