#footnote--list {
    cursor: pointer;
    bottom: -100vh;
    z-index: 2;
    padding: 2em;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: magenta;
    color: black;
    width: 100%;
    max-width: 800px;
    overflow-x: scroll;
    transition: bottom 0.2s ease;  
}


.footnote--inline {
    cursor: pointer;
    border: 2px solid magenta;
    background-color: none;
    padding: 0.030em 0.40em;
    border-radius: 0.75em;
    transition: 0.2s;
    color: magenta;
    text-decoration: none;
    font-size: 0.75em;
}

.footnote--inline:hover {
    background-color: magenta;
    color: white;
}

.footnote {
    display: none;
}
