.chapters {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.chapter--listing {
    background-color: #d9d9db;
    margin: 2rem;
    justify-self: center;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr;
    border: 2px solid black;
    border-bottom: none;
    text-align: center;
    text-decoration: none;
    color: black;
    transition: 0.1s ease-in-out;
}

.chapter--listing:hover {
    transform: scale(1.01)
}

.chapter--listing div {
    padding: 1rem;
    border-bottom: 2px solid black;
}
