* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: 0.1s ease-in-out;

}

/*
grey #d9d9db
yellow #d5e250
pink #b47e86
red #db4030
brown #94713b
*/

html {
    font-size: 62.5%;
}

@media only screen and (min-width: 600px)  {
    html {
        font-size: 82.5%;
    }
}

html::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
#footnotes--list::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

body {
    font-family: Helvetica, 'Space Grotesk', 'Archivo', sans-serif;
    font-weight: 600;
    -webkit-font-smoothing: antialiased;
    font-size: 1.75rem;
    line-height: 1.4;
    letter-spacing: normal;
    min-height: 100vh;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #d9d9db;
}

main {
    width: 100%;
    max-width: 1200px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#frontpage {
    background-color:#b47e86;
    color: black;
}

#title--main {
    color: #ff073a;
    -webkit-text-stroke: 1.5px black;
    font-size: 4.75rem;
}

/* TEXT */

h1, h2, h3 {
    font-weight: 700;
}

h1 {
    font-size: 3.75rem;
    text-align: center;
}

h2 {
    font-size: 3.25rem;
}

h3 {
    font-size: 2rem;
}

p {
    font-size: 1.75rem;
}

h1, h2, h3, p {
    padding: 2rem 0rem 2rem 0rem;
}

.p--indent {
    font-size: 2.75rem;
}
