/*NAV--CLICK*/

#progressbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 0.5rem;
    border-radius: 0 0 0.5rem 0.5rem;
    background-color: white;
    transition: height ease-in-out;  
}

#menu--icon {
    top: 1rem;
    left: 1rem;
    z-index: 6;
    cursor: pointer;    
    position: fixed;
    border: 2px solid #ff0000;
    background-color: #ff0000;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    transition: 0.2s;
}

#menu--icon:hover {
    transform: scale(1.1);
}

/*NAV--MENU*/

nav {
    background-color: white;
    color: blue;
    height: 100%;  
    width: 100%;
    padding: 2rem;
    text-align: center;

    display: grid;
    justify-items: center; 
    align-content: center;
    grid-template-rows: 0.5fr 1fr;
    
    
    position: fixed;
    top: -100vh;
    left:0;
    
    z-index: 5;
    transition: top 0.1s ease;  
}

#nav--meta {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr;
    border: 2px solid blue;
    align-items: center;
    justify-content: center;
}

#nav--posisjon {
    display: grid;
    align-items: center;
    justify-content: center;
}

#nav--navigasjon {
    display: grid;
    align-items: center;
    justify-content: center;
}

nav a {
    text-decoration: none;
    color: blue;
    transition: 0.5s;
}

nav a:hover {
    color: blue;
    transform: scale(1.01);
}