/*PROGRESS--BAR*/

#progressbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 0.7rem;
    background-color: #cfff04;
    transition: width ease-in-out;  
    z-index: 6;
}

/*MENU--BUTTON*/

#menu--icon {
    top: 2rem;
    left: 2rem;
    z-index: 6;
    cursor: pointer;    
    position: fixed;
    border: 2px solid black;
    background-color: #ff073a;
    color: black;
    height: 4rem;
    min-width: 4rem;
    padding: 0.5em;
    border-radius: 1rem;
    transition: 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
}

#menu--icon:hover {
    transform: scale(1.1);
}

/*MENU--MENU*/

nav {
    background-color: #cfff04;
    color: black;
    height: 100%;  
    width: 100%;
    text-align: center;

    display: grid;
    justify-items: center; 
    align-content: center;
    grid-template-rows: 0.5fr 1fr;
    
    
    position: fixed;
    top: -150vh;
    left: 0;
    
    z-index: 5;
    transition: top 0.1s ease;  
}

nav a {
    text-decoration: none;
    color: black;
    transition: 0.5s;
}

nav a:hover {
    transform: scale(1.01);
}

.chapter--chapters {
    text-align: center;
    display: grid;
}

.chapter--chapters a {
    width: 100%;
    padding: 0.5rem;
}

a {
    color: inherit;
    text-decoration: none;
}